<hr>
<br>
<img src="/buttons/hatsusixty.gif" alt="Hatsu Sixty gif">
<div>
  <img src="/buttons/90sbeststyle.gif" alt="90's best style gif">
  <img src="/buttons/cybercity.gif" alt="Cyber city gif">
  <img src="/buttons/deltarune.gif" alt="Deltarune gif">
  <img src="/buttons/itstimetotransyourgender.gif" alt="It's time to trans your gender gif">
  <img src="/buttons/proudlinuxuser.gif" alt="Proud linux user gif">
  <img src="/buttons/spamton.gif" alt="Spamton gif">
  <img src="/buttons/windows95.gif" alt="Windows 95 gif">
</div>
<br>
Copyright 2023-{{ now.Year }} Hatsu Sixty.
